
/* desktop */
$sidebar-open-width: 256px;
$sidebar-minimized-width: 70px;
$sidebar-menu-y-margin: 13px;

$base-transition: 100ms ease-in-out;
$layout-transition:  all 100ms ease-in-out;


$topbar-height: 60px;
