@import '../../../node_modules/bootstrap/scss/bootstrap-utilities.scss';

$variable-prefix: "stwrd-";

$color-black: #262626;


/* desktop */
$sidebar-open-width: 256px  !default;
$sidebar-minimized-width: 70px  !default;
$sidebar-menu-y-margin: 13px  !default;

$base-transition: 100ms ease-in-out  !default;
$layout-transition:  all 100ms ease-in-out  !default;

$topbar-height: 65px  !default;
$topbar-brand-width: 175px  !default;

$content-border-radius-bottom-left: 40px  !default;

/* colors */
$sidebar-bg: transparent !default ;

$topbar-bg: #FCFCFC !default;
$topbar-nav-item-active: $color-black;

$content-wrapper-bg:  #FCFCFC !default;
$content-bg: #F3F1EF !default;
// $sidebar-bg-rgb: to-rgb($sidebar-bg);


// $scrollbar-thumb-color:  
$scrollbar-track-color: #ffffff  !default;
$scrollbar-thumb-color: rgba(223, 223, 223, 1)  !default;
$scrollbar-thumb-color-hidden: rgba(223, 223, 223, 0)  !default;
$scrollbar-thumb-color-hover: rgb(200, 200, 200)  !default;
$scrollbar-thumb-size:  12px !default;


$font-family: 'Inter', Arial, Helvetica, sans-serif;
$font-family-alt: 'Open Sans', Arial, Helvetica, sans-serif;


$font-family-base: $font-family;
